<div class="container">
  <div class="text-center mt-5">
    <h1>Editar Producto</h1>
  </div>
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form >
              <div class="controls">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_name">Descripción *</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Ingrese descripción"
                        data-error="La descripción es obligatorio."
                        [(ngModel)]="producto.title"
                        [ngModelOptions]="{standalone: true}"
                      />
                      <span class="form-text text-danger"
                              *ngIf="campoValido('title')">
                        Campo requerido
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_need">Categoria *</label>
                      <select
                        class="form-control"
                        data-error="Especifica una categoria."
                        [(ngModel)]="producto.category"
                        [ngModelOptions]="{standalone: true}"
                      >
                        <option value="" selected disabled>
                          --Selecciona la categoria--
                        </option>
                        <option *ngFor="let item of categorias">{{item}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_name">Precio *</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Ingrese precio"
                        data-error="El precio es obligatorio."
                        [(ngModel)]="producto.price"
                        [ngModelOptions]="{standalone: true}"
                      />
                      <span class="form-text text-danger"
                              *ngIf="campoValido('price')">
                        Solo se aceptan números y valores positivos
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_message">Stock *</label>
                      <input
                      type="number"
                        class="form-control"
                        placeholder="Ingrese stock"
                        [(ngModel)]="producto.stock"
                        [ngModelOptions]="{standalone: true}"
                        step="number"
                      >
                      <span class="form-text text-danger"
                              *ngIf="campoValido('stock')">
                        Stock debe ser mayor a 0
                      </span>
                    </div>
                  </div>

                  <div class="mx-auto " style="width: 200px;">
                    <button type="submit" class="btn btn-success pt-2 btn-inline" (click)="actualizarProducto()">Guardar</button>
                    <a class="btn btn-danger pt-2 btn-inline ml-4" style="color: white;" (click)="volver()" >Cancelar</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.8 -->
    </div>
    <!-- /.row-->
  </div>
</div>
